<script context="module">
    export const TABS = {};
</script>
   
<script>
    import { setContext, onMount } from 'svelte';
    import { cleanProps } from '../svelte-helpers'
    
    let tabView;
    let items = [];
    let dirtyProps;
    let props;
    $: props = cleanProps(dirtyProps);

    setContext(TABS, {
        addItem: (getView) => {
            return items.push(getView);
        }
    })

    onMount(()=>{
        let tabItems = [];
        for(let getView of items) {
            let tvi = getView();
            console.log("adding",tvi.title, tvi.view);
            tabItems.push(tvi);
        }
        tabView.nativeView.items = tabItems;
    })
</script>
<svelte:options bind:props={dirtyProps} />

<tabView {...props} bind:this={tabView}>
<slot></slot>
</tabView>