<script>
    import { onMount, getContext } from 'svelte';
    import { TABS } from './TabView.html';
    import { cleanProps } from '../svelte-helpers'
    
    let dirtyProps
    let props;
    $: props = cleanProps(dirtyProps);
    
    
    let { addItem } = getContext(TABS);
    let tabNum = addItem(() => item.nativeView);

    let item;
    onMount(()=>{
        console.log("tab view item mounted", tabNum);
    })
</script>
<svelte:options bind:props={dirtyProps} />
<tabViewItem bind:this={item} {...props}><slot></slot></tabViewItem>
    